{% extends 'base.html' %}

{% load static %}

{% block header %}
<style>
    table {
        table-layout: fixed;
    }
</style>
{% endblock %}

{% block content %}

    <script>
        $(document).ready(function() {
            $(".delete").click(function(e) {
                e.preventDefault();
                $("#delete-confirm").attr("href", $(this).attr("href"));
            });
        });
    </script>

    <div class="container">

        <!-- Generate modal -->

        <div class="modal fade" id="generate-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <form id="generate-form" method="POST">
                        {% csrf_token %}
                        <div class="modal-header">
                            <h1 class="modal-title fs-5">Gerar relatório</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <h4 class="text-center">Emprestimos</h4>
                            <div class="row">
                                <div class="col-6">
                                    De:
                                    <input type="date" id="start-date" class="form-control" min="2000-01-01" max="2100-12-31" required><br>
                                </div>
                                <div class="col-6">
                                    Até:
                                    <input type="date" id="end-date" class="form-control" min="2000-01-01" max="2100-12-31" required><br>
                                </div>
                            </div>
                            <label for="available">Estado</label>
                            <select name="available" class="form-select" id="available" required>
                                <option value="-" selected> Todos </option>
                                <option value="1"> Pendente </option>
                                <option value="0"> Entregue </option>
                            </select>
                        </div>
                        <div class="modal-footer">
                            <a id="generate-confirm"><button type="submit" class="btn btn-success">Gerar</button></a>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <!-- Report modal -->

        <div class="modal fade" id="report-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5">Relatório</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <table class="table table-hover text-center">
                            <thead style="background-color: #3d3025; color: white">
                                <tr>
                                    <th scope="col">Responsável</th>
                                    <th scope="col">Livro</th>
                                    <th scope="col">Emprestado em</th>
                                    <th scope="col">Prazo de devolução</th>
                                    <th scope="col">Estado</th>
                                </tr>
                            </thead>
                            <tbody id="report-transations"></tbody>
                        </table> 
                    </div>
                    <div class="modal-footer">
                        <a id="report-download"><button type="button" class="btn btn-success">Baixar planilha</button></a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row d-flex justify-content-center mt-5">
            <div class="col-8">
                <button class="btn btn-success col-12" data-bs-toggle="modal" data-bs-target="#generate-modal">Gerar relatório</button>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-12">
                <table class="table table-hover text-center">
                    <thead style="background-color: #3d3025; color: white">
                        <tr>
                            <th scope="col">Responsável</th>
                            <th scope="col">Livro</th>
                            <th scope="col">Emprestado em</th>
                            <th scope="col">Prazo de devolução</th>
                            <th scope="col">Estado</th>
                        </tr>
                    </thead>
                    <tbody class="table-light">
                    {% for transaction in transactions %}
                        <tr class="align-middle">
                            <td>{{transaction.user.name  |truncatechars:30}}</td>
                            <td>{{transaction.book_title |truncatechars:30}}</td>
                            <td>{{transaction.issued_on  | date:"d/m/Y" }}</td>
                            <td>{{transaction.due_date   | date:"d/m/Y" }}</td>
                            {% if transaction.active %}
                            <td>Pendente</td>
                            {% else %}
                            <td>Entregue</td>
                            {% endif %}
                            <!--
                            <td>
                                <a href="{% url 'books_transaction_delete' transaction.id %}" class="delete" data-bs-toggle="modal" data-bs-target="#delete-modal"><svg width="23" fill="#A40E1E" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M0 14.545L1.455 16 8 9.455 14.545 16 16 14.545 9.455 8 16 1.455 14.545 0 8 6.545 1.455 0 0 1.455 6.545 8z" fill-rule="evenodd"></path> </g></svg></a>
                            </td>
                            -->
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <script src="{% static 'js/book-transaction.js' %}"></script>
{% endblock %}