{% extends 'base.html' %}

{% block content %}
    <div class="container">
        {% if messages %}
            {% for message in messages %}
                <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
                    <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
                        <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                    </symbol>
                </svg>
                <br>
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %}
        {% endif %}

        <div class="row">
            <div class="col-4"></div>
            <div class="col-4 position-absolute top-50 start-50 translate-middle bg-dark p-5 r-3 rounded-3 text-white">
                <form method="POST">
                    {% csrf_token %}
                    <div class="form-floating mb-4">
                        <input type="text" name="username" class="form-control" id="username" placeholder="Usuário">
                        <label for="username" style="color: rgb(146, 146, 146);">Usuário</label>
                    </div>
                    <div class="form-floating mb-4">
                        <input type="password" name="password" class="form-control" id="password" placeholder="Senha">
                        <label for="password" style="color: rgb(146, 146, 146);">Senha</label>
                    </div>
                    <div class="col-2">
                        <button class="btn btn-success col-12 create h-100" data-bs-toggle="modal" data-bs-target="#edit-modal">Adicionar Livro</button>
                    </div>
                    <input type="submit" class="form-control" value="Entrar">
                </form>
            </div>
        </div>
    </div>
{% endblock %}