<nav class="navbar navbar-expand-lg navbar-dark w-100" style="font-family: Nexa">
    <div class="container-fluid">
        {% if not user.is_authenticated %}
            <a></a>
        {% else %}

        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            {% if not request.resolver_match.view_name == "dashboard_view" %}
            <li class="nav-item position-absolute top-0 start-0 translate-middle back-button" style="scale: 0.4; z-index: 10;">
                <div class="hexagon-item">
                    <div class="hex-item">
                        <div></div>
                        <div></div>
                        <div></div>
                    </div>
                    <a href="{% url 'dashboard_view' %}" class="hex-content">
                        <div class="hex-content-inner h-100 col-12" style="color: #3d3025">
                            <div class="icon h-100 col-12 d-flex align-items-center justify-content-center">
                                <i class="fa-solid fa-arrow-left fa-lg" style="scale: 1.4"></i>
                            </div>
                        </div>
                        <svg class="p-2"  viewBox="0 0 173.20508075688772 200" height="200" width="174" version="1.1" xmlns="http://www.w3.org/2000/svg"><path d="M86.60254037844386 0L173.20508075688772 50L173.20508075688772 150L86.60254037844386 200L0 150L0 50Z" fill="#a98467"></path></svg>
                    </a>
                </div>
            </li>
            {% endif %}
        </ul>
        <a href="{% url 'logout_user' %}" style="z-index: 10;"><button class="btn btn-outline-danger px-4 py-2" type="submit">Sair</button></a>
        
        {% endif %}
        
        {% if not user.is_authenticated %}
        <button class="btn btn-outline-success px-4 py-2" data-bs-toggle="modal" data-bs-target="#login-modal" type="submit">Login</button>
        {% endif %}
    </div>
  </nav>